
<div class="container">
  <h4 style="color: orange;">Welcome {{username}} !!!</h4>
  <br>
  <br>
  <h4 style="color:blue">Employee Details</h4>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <form>
        <div class="row">
          <div class="col-xs-5 form-group">
             <label for="name">First Name</label>
             <div class="row">
              <div class="col-xs-12">
                {{'Mohamed'}}
              </div>
            </div>
          </div>
          <div class="col-xs-5 form-group">
            <label for="name">Last Name</label>
            <div class="row">
              <div class="col-xs-12">
                {{'Hamsha'}}
              </div>
            </div>
          </div>
         <div class="col-xs-5 form-group">
          <label for="name">Department</label>
          <div class="row">
            <div class="col-xs-12">
              {{'ACHPS'}}
            </div>
          </div>
        </div>
         <div class="col-xs-5 form-group">
            <label for="amount">Date of Joining</label>
            <div class="row">
              <div class="col-xs-12">
                {{'17/9/2003'}}
              </div>
            </div>
         </div>
        </div>
      </form>
    </div>
  </div>
</div>
